{
  "env": {
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "extends": ["airbnb", "prettier", "prettier/react"],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 100
      }
    ],
    "react/jsx-filename-extension": ["off"]
  }
}
